
.row {
    padding: 1rem 4%;
    color:white;
    
} 

  
.row__images {
      display: flex;
      align-items: center;
      overflow-x: visible;
      overflow-y: hidden;
      width: 100%;
      padding: .5rem 0;
} 
      .row__image {
        width: 300px;
        padding: 0.5rem;
        transition: transform 0.3s ease-in;
      }  
        .row__image:hover {
          cursor: pointer;
          transform: scale(1.1);
        
          }
  
    .row__images::-webkit-scrollbar {
      -webkit-appearance: none;
      background-color: white
    }
  
    ::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color:red;
      border-radius: 9px;
      border: 3px solid transparent;
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }
  